/*HEART*/
.likeEmpty {
  content: "";
  position: absolute;
}

/*.likeEmpty:hover {
  display: none;
}*/

.likeFill {
  position: absolute;
  content: "";
  opacity: 0;
  transform: scale(1);
}

.likeFill:hover {
  @extend %likeFillStatus;
}

/*END HEART*/


/*SPINNER*/
.loader {
  position: fixed;
  @extend %displayFlex;
  @include flexbox(row, center, center, center);
  @include wh(100%, 100%);
  background-color: hsla(0, 0%, 100%, 0.9);
  animation: loaderDisappear 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10;
  &__item {
    animation: loader 1s linear;
    transform-origin: 3em;
    @include wh(1em, 1em);
    border-radius: 1em;

    @for $i from 1 to length($colors) {
      &:nth-child(#{length($colors)}n + #{$i}) {
        animation-delay: #{$i/length($colors)}s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        background: nth($colors, $i);
        position: absolute;
      }
    }
  }
}

@keyframes loaderDisappear {
  100% {
    opacity: 0;
    z-index: -10;
  }
} 

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -1000000;
  }
}

/*END SPINNER*/
