@mixin flexbox($direction,$content: normal,$justify: normal,$items: normal,$wrap: wrap,$display: flex) {
  flex-direction: $direction;
  align-content: $content;
  justify-content: $justify;
  align-items: $items;
  flex-wrap: $wrap;
  display: $display;
}

@mixin margin-padding($m-direction, $m-amount, $p-direction, $p-amount) {
  @if $m-direction == all {
    margin: $m-amount;
  } @else if $m-direction == notall {
    margin: $m-amount;
  }
  @if $p-direction == all {
    padding: $p-amount;
  } @else if $p-direction == notall {
    padding: $p-amount;
  }
}

@mixin border-radius-top($size) {
  border-top-left-radius: $size;
  border-top-right-radius: $size;
}

@mixin border-radius-bottom($size) {
  border-bottom-left-radius: $size;
  border-bottom-right-radius: $size;
}

@mixin font($style: normal, $weight: normal, $size: 1em, $line-height: 1, $font-family: Roboto) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  font-family: $font-family;
}

@mixin wh($w, $h: auto) {
  width: $w;
  height: $h;
}

@mixin trbl($top:0em, $right:0em, $bottom:0em, $left:0em) {
  @if $top != 0em {
    top: $top;
  }
  @if $right != 0em {
    right: $right;
  }
  @if $bottom != 0em {
    bottom: $bottom;
  }
  @if $left != 0em {
    left: $left;
  }
}

/*Ajuste la couleur du texte par rapport à la luminosité du background*/
@mixin backgroundAuto($bgColor) {

  @if lightness($bgColor) > 50% {
    background-color: $bgColor;
    color: black;
    a {color: black;}

  } @else {
    background-color: $bgColor;
    color: white;
    a {color: white;}
  }
}

@mixin responsiveContentCentered {
  max-width: 1440px;
  margin: auto;
}
