@mixin flexbox($direction, $content:normal, $justify:normal, $items:normal, $wrap:wrap) {
  flex-direction: $direction;
  align-content: $content;
  justify-content: $justify;
  align-items: $items;
  flex-wrap: $wrap;
}

@mixin border-radius-top($size) {
  border-top-left-radius: $size;
  border-top-right-radius: $size;
}

@mixin border-radius-bottom($size) {
  border-bottom-left-radius: $size;
  border-bottom-right-radius: $size;
}

@mixin font($style:normal, $weight:normal, $size:1em, $line-height:1) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
 
@mixin wh($w, $h:auto) {
  width: $w;
  height: $h;
}

/*Ajuste la couleur du texte par rapport à la luminosité du background*/
@mixin backgroundAuto($bgColor) {

  @if lightness($bgColor) > 50% {
    background-color: $bgColor;
    color: black;

    a { color: black; }

  } @else {
    background-color: $bgColor;
    color: white;

    a { color: white; }

  }
}
