%marginNull {
  margin: 0;
}

%paddingNull {
  padding: 0;
}

%all-headings {
  $base-font-size: 0.8em;
  $heading-scale: 0.2;

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: $base-font-size + $heading-scale * (6 - $i);
    }
  }
}

%max-width {
  max-width: $max-width;
}

%likeFillStatus {
  opacity: 1;
  background: linear-gradient(175deg, $primaryColor, $secondaryColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}
