$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$thirdColor: #99e2d0;
$colors: $primaryColor, $secondaryColor, $thirdColor, $primaryColor,
  $secondaryColor, $thirdColor, $primaryColor, $secondaryColor, $thirdColor;

$white: white;
$mainColor:#f6f6f6;
$colorLocation: #f3f3f3;
$colorExplore: #fafafa;
$colorOperation: #f6f6f6;
$colorRestaurant: #f6f6f6;

$footerBg: rgb(43, 43, 43);
$headerBg: rgba(0, 0, 0, 0.25);
$stepBg: rgb(173, 173, 173);

$null: "null";
$small: "small";
$medium: "medium";
$big: "big";

$max-width: 1440px;

