@mixin flexbox($display, $direction, $content, $justify, $items, $wrap) {
  display: $display;
  flex-direction: $direction;
  align-content: $content;
  justify-content: $justify;
  align-items: $items;
  flex-wrap: $wrap;
}

@mixin marginYX($y, $x) { 
  margin: $y $x;
}

@mixin paddingYX($y, $x) { 
  padding: $y $x;
}

@mixin box-shadow($x, $y, $blur, $color) { 
    box-shadow: $x $y $blur $color;
  }
