<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>OhMyFood - Accueil</title>
    <meta name="description" content="OhMyFood" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/app/app.min.css" />
    <script src="https://kit.fontawesome.com/6df407c786.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="headerIndex">
      <h1 class="headerIndex__title">ohmyfood</h1>
    </header>

    <main class="mainMenu">
        <img class="mainMenu__img" src="../assets/images/Restaurants/La-palette-du-gout-compressed.jpg" alt="La Palette du gout"/>
        <section class="mainMenu__section">
            <h1 class="mainMenu__section--heading">La palette du gout</h1>
            <div class="mainMenu__section--heart">
                <i class="likeEmpty far fa-heart fa-2x"></i>
                <i class="likeFill fas fa-heart fa-2x"></i>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatem repellendus, quas totam, excepturi animi odit tempore ullam labore necessitatibus iusto tenetur debitis laudantium fugit distinctio non, sapiente quam nesciunt?</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora placeat eum corrupti vel vitae id ea et aspernatur, voluptate similique officia quo repellat velit nostrum maiores rerum. Qui, obcaecati adipisci?</p>
            </section>
    </main>

    <footer class="footer">
      <ul class="footer__ul">

        <li class="footer__ul--headTitle">ohmyfood</li>

        <li class="footer__ul--li">
          <a class="footerLink" href="#">
            <i class="footerLink__icon fas fa-utensils"></i>
            Proposer un restaurant
          </a>
        </li>

        <li class="footer__ul--li">
          <a class="footerLink" href="#">
            <i class="footerLink__icon fas fa-hands-helping"></i>
            Devenir partenaire
          </a>
        </li>

        <li class="footer__ul--li">
          <a class="footerLink" href="#">Mentions légales</a>
        </li>

        <li class="footer__ul--li">
          <a class="footerLink" href="mailto:ohmyfood.com">Contact</a>
        </li>

      </ul>
    </footer>

  </body>
</html>
