//Box des restaurants sur la page d'accueil
.box {
  background-color: $white;
  border-radius: 1em;
  @include positionElement(0em,0em,0em,0em,relative);

  &__img {
    @include borderRadiusTop(1em);
    @include widthHeight(100%, 12em);
    object-fit: cover;
  }

  &__new {
    @include backgroundAuto(#99e2d0);
    @include positionElement(1em,1em,0em,0em,absolute);
    color: $darkerThirdColor;
    border-radius: 0.2em;
    @include marginPadding($allDirections, 0, $allDirections, .5em);
  }

  &__cardFooter {
    @include flexbox(row, space-between);
    @include marginPadding($allDirections, 0 1em, $allDirections, 1em 0);
    @include positionElement(0em,0em,0em,0em,relative);

    &--right {
      @include positionElement(.5em,2em,0em,0em,absolute);
    }
  }
}
