//Box des restaurants sur la page d'accueil
.box {
  background-color: $white;
  border-radius: 1em;
  position: relative;

  &__img {
    @include border-radius-top(1em);
    @include wh(100%, 12em);
    object-fit: cover;
  }

  &__new {
    @include backgroundAuto(#99e2d0);
    position: absolute;
    @include trbl(1em,1em);
    color: #1d9e7e;
    border-radius: 0.2em;
    @include margin-padding(all, 0, all, .5em);
  }

  &__cardFooter {
    @include flexbox(row, space-between);
    @include margin-padding(all, 0 1em, all, 1em 0);
    position: relative;

    &--right {
      position: absolute;
      @include trbl(.5em,2em);
    }
  }
}
