//Boutton page d'accueil sur l'exploration des restaurants
.explore__button {
  cursor: pointer;
  border-radius: 10em;
  color: $white;
  background: $linearGradientDark;
  @include marginPadding($allDirections, 0 1em, $allDirections, 1em);
  border: none;
  box-shadow: $boxShadowLight;
  text-align: center;
  @include font(normal, bold);

  &:hover {
    background: $linearGradientLight;
    box-shadow: $boxShadowDark;
  }
  
}
