//Bouton J'aime
.likeEmpty {
    content: "";
    @include trblp(0em,0em,0em,0em,absolute);
  }
  
  .likeEmpty:hover {
    display: none;
  }
  
  .likeFill {
    @include trblp(0em,0em,0em,0em,absolute);
    content: "";
    opacity: 0;
    transform: scale(1);
  }
  
  .likeFill:hover {
    @extend %likeFillStatus;
    cursor: pointer;
  }
