//Bouton J'aime
.likeEmpty {
  content: "";
  @include positionElement(0em,0em,0em,0em,absolute);

  &:hover {
    display: none;
  }
  
}
  
.likeFill {
  @include positionElement(0em,0em,0em,0em,absolute);
  content: "";
  opacity: 0;
  transform: scale(1);

  &:hover {
    @extend %likeFillStatus;
    cursor: pointer;
  }

}
