//Liste de la page d'accueil partie "Fonctionnement"
.operation__steps {
  @include marginPadding($allDirections, 0, $allDirections, 0);
  @include flexbox(column, stretch);
  @include widthHeight(95%);
  list-style: none;
  counter-reset: compteListe;

  &--step {
    @include widthHeight(100%);
    @include backgroundAuto($colorOperation);
    @include positionElement(0em,0em,0em,0em,relative);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
    @include marginPadding($allDirections, 1em 0, $allDirections, 1.5em 1em);

    &::before {
      @include widthHeight(1.5em, 1.5em);
      background-color: #6100d8;
      color: white;
      @include flexbox(row, center, center);
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      @include positionElement(1em,0em,0em,-1em,absolute);
      border-radius: 100px;
      @include marginPadding($allDirections, 0, $allDirections, .2em);
    }

    span {
      @include font(normal, bold);
    }
    
  }
}
