.menu {
    @include flexbox(row);
    @include wh(100%);
    &__subheading {
      @extend %all-headings;
      @include font(normal, normal, 1em, 1, Roboto);
      position: relative;
  
      &::after {
        content: "";
        width: 2.5em;
        height: 0.25em;
        background-color: $thirdColor;
        position: absolute;
        left: 0;
        bottom: -0.5em;
      }
  
    }
    &__delay {
      animation: $animation $animDuration;
      margin: 1em 0em;
      @include wh(100%, 100%);
  
      @for $i from 0 to $totalMenus {
        &:nth-child(#{$i}) {
          animation-delay: #{$i/$totalMenus}s;
          animation-direction: normal;
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-fill-mode: both;
        }
      }
    }
  }

  .menuItem {
    background-color: white;
    @include padding($medium);
    @include flexbox(row);
    border-radius: 0.75em;
    box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear 0.6s;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    transform: scale(0);
  
    &__header {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
  
    &__title {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__description {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  
    &__price {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: 0.5em;
    }
  
    &__confirmation {
      background-color: $thirdColor;
      margin: -1em -5em -1em 1em;
      @include wh(4em);
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.5s;
    }
  
    &:hover &__confirmation {
      margin-right: -1em;
    }
  
    &__wrapIcon {
      height: 1.6em;
      width: 1.6em;
      background-color: white;
      @include flexbox(row,normal,center,center);
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: 0.5s;
    }
  
    &:hover &__wrapIcon {
      transform: rotate(0);
    }
  
    &__icon {
      color: $thirdColor;
    }
  }