.menu {
    @include flexbox(row);
    @include wh(100%);
    &__subheading {
      @extend %all-headings;
      @include font(normal, normal, 1em, 1, Roboto);
      position: relative;
  
      &::after {
        content: "";
        width: 2.5em;
        height: 0.25em;
        background-color: $thirdColor;
        position: absolute;
        left: 0;
        bottom: -0.5em;
      }
  
    }
    &__delay {
      animation: $animation $animDuration;
      margin: 1em 0em;
      @include wh(100%, 100%);
  
      @for $i from 0 to $totalMenus {
        &:nth-child(#{$i}) {
          animation-delay: #{$i/$totalMenus}s;
          animation-direction: normal;
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-fill-mode: both;
        }
      }
    }
  }