@charset "UTF-8";
@font-face {
  font-family: Shrikhand;
  src: url("../../assets/fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
}
/*Ajuste la couleur du texte par rapport à la luminosité du background*/
.menu__subheading h1, .mainMenu__header--heading h1, .restaurant .description__title h1, .operation__title h1, .headerIndex__title h1 {
  font-size: 1.8em;
}
.menu__subheading h2, .mainMenu__header--heading h2, .restaurant .description__title h2, .operation__title h2, .headerIndex__title h2 {
  font-size: 1.6em;
}
.menu__subheading h3, .mainMenu__header--heading h3, .restaurant .description__title h3, .operation__title h3, .headerIndex__title h3 {
  font-size: 1.4em;
}
.menu__subheading h4, .mainMenu__header--heading h4, .restaurant .description__title h4, .operation__title h4, .headerIndex__title h4 {
  font-size: 1.2em;
}
.menu__subheading h5, .mainMenu__header--heading h5, .restaurant .description__title h5, .operation__title h5, .headerIndex__title h5 {
  font-size: 1em;
}
.menu__subheading h6, .mainMenu__header--heading h6, .restaurant .description__title h6, .operation__title h6, .headerIndex__title h6 {
  font-size: 0.8em;
}

.likeFill:hover {
  opacity: 1;
  background: linear-gradient(175deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

/*SPINNER*/
@-webkit-keyframes loaderDisappear {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loaderDisappear {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -1000000;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -1000000;
  }
}
/*END SPINNER*/
/*MENU TRANSITION*/
@-webkit-keyframes menu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes menu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
/*END MENU*/
/*ANIMATION HOVER MENU*/
@-webkit-keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*END*/
html {
  font-family: Roboto;
  cursor: default;
}

body {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  background-color: #f6f6f6;
}

main {
  margin: 0;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: black;
}

.headerIndex {
  flex-direction: column;
  align-content: center;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  font-family: Shrikhand;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
}
.headerIndex__homeLink {
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: baseline;
  flex-wrap: wrap;
  display: flex;
}
.headerIndex__homeLink i {
  padding: 0.5em;
}

.footer {
  background-color: #141414;
  color: white;
  padding: 1em 3em;
}
.footer a {
  color: white;
}
.footer__ul--headTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  font-family: Shrikhand;
  margin-bottom: 1em;
}
.footer__ul--li {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1;
  font-family: Roboto;
  margin: 0.5em 0;
}
.footer__ul .footerLink {
  text-decoration: none;
}
.footer__ul .footerLink__icon {
  margin-right: 1em;
  width: 1em;
  height: auto;
}

.location {
  background-color: #f3f3f3;
  color: black;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding: 1em 0;
}
.location a {
  color: black;
}
.location__icon {
  margin: 0 1em;
}

.explore {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  background-color: #fafafa;
  color: black;
  text-align: center;
  padding: 1em 0;
}
.explore a {
  color: black;
}
.explore__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1;
  font-family: Roboto;
}
.explore__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1;
  font-family: Roboto;
}

.iconStep {
  margin-right: 1em;
}

.operation {
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  padding: 2em;
}
.operation__title {
  margin: 0;
}
.operation .iconStep {
  padding: 0 0.5em;
  margin: 0;
}

.restaurant {
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  background-color: #f6f6f6;
  color: black;
  padding: 2em;
}
.restaurant a {
  color: black;
}
.restaurant__menus {
  padding: 0;
}
.restaurant__menus--menu {
  margin: 1em 0;
}
.restaurant .description__title {
  margin: 0;
}

.mainMenu {
  background-color: white;
}
.mainMenu__img {
  width: 100vw;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 32em;
}
.mainMenu__section {
  max-width: 768px;
  margin: 0em auto -3em auto;
  position: relative;
  top: -3em;
  background-color: #f6f6f6;
  color: black;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  flex-direction: column;
  align-content: normal;
  justify-content: space-evenly;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  padding: 1.5em;
  width: 85vw;
  height: auto;
}
.mainMenu__section a {
  color: black;
}
.mainMenu__header {
  flex-direction: row;
  align-content: normal;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  width: 95%;
  height: auto;
}
.mainMenu__header--heading {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1;
  font-family: Shrikhand;
}
.mainMenu__header--heart {
  margin: 1em;
}

.explore__button {
  cursor: pointer;
  border-radius: 10em;
  color: white;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  margin: 0 1em;
  padding: 1em;
  border: none;
  box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  font-family: Roboto;
}

.likeEmpty {
  content: "";
  position: absolute;
}

.likeEmpty:hover {
  display: none;
}

.likeFill {
  position: absolute;
  content: "";
  opacity: 0;
  transform: scale(1);
}

.likeFill:hover {
  cursor: pointer;
}

.loader {
  position: fixed;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loaderDisappear 0.01s;
          animation: loaderDisappear 0.01s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 10;
}
.loader__item {
  -webkit-animation: loader 1s linear;
          animation: loader 1s linear;
  transform-origin: 3em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
}
.loader__item:nth-child(9n+1) {
  -webkit-animation-delay: 0.1111111111s;
          animation-delay: 0.1111111111s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #9356dc;
  position: absolute;
}
.loader__item:nth-child(9n+2) {
  -webkit-animation-delay: 0.2222222222s;
          animation-delay: 0.2222222222s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #ff79da;
  position: absolute;
}
.loader__item:nth-child(9n+3) {
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #99e2d0;
  position: absolute;
}
.loader__item:nth-child(9n+4) {
  -webkit-animation-delay: 0.4444444444s;
          animation-delay: 0.4444444444s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #9356dc;
  position: absolute;
}
.loader__item:nth-child(9n+5) {
  -webkit-animation-delay: 0.5555555556s;
          animation-delay: 0.5555555556s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #ff79da;
  position: absolute;
}
.loader__item:nth-child(9n+6) {
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #99e2d0;
  position: absolute;
}
.loader__item:nth-child(9n+7) {
  -webkit-animation-delay: 0.7777777778s;
          animation-delay: 0.7777777778s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #9356dc;
  position: absolute;
}
.loader__item:nth-child(9n+8) {
  -webkit-animation-delay: 0.8888888889s;
          animation-delay: 0.8888888889s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  background: #ff79da;
  position: absolute;
}

.menu {
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: auto;
}
.menu__subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1;
  font-family: Roboto;
  position: relative;
}
.menu__subheading::after {
  content: "";
  width: 2.5em;
  height: 0.25em;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -0.5em;
}
.menu__delay {
  -webkit-animation: menu 1s;
          animation: menu 1s;
  margin: 1em 0em;
  width: 100%;
  height: 100%;
}
.menu__delay:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(1) {
  -webkit-animation-delay: 0.0714285714s;
          animation-delay: 0.0714285714s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(2) {
  -webkit-animation-delay: 0.1428571429s;
          animation-delay: 0.1428571429s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(3) {
  -webkit-animation-delay: 0.2142857143s;
          animation-delay: 0.2142857143s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(4) {
  -webkit-animation-delay: 0.2857142857s;
          animation-delay: 0.2857142857s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(5) {
  -webkit-animation-delay: 0.3571428571s;
          animation-delay: 0.3571428571s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(6) {
  -webkit-animation-delay: 0.4285714286s;
          animation-delay: 0.4285714286s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(7) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(8) {
  -webkit-animation-delay: 0.5714285714s;
          animation-delay: 0.5714285714s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(9) {
  -webkit-animation-delay: 0.6428571429s;
          animation-delay: 0.6428571429s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(10) {
  -webkit-animation-delay: 0.7142857143s;
          animation-delay: 0.7142857143s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(11) {
  -webkit-animation-delay: 0.7857142857s;
          animation-delay: 0.7857142857s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(12) {
  -webkit-animation-delay: 0.8571428571s;
          animation-delay: 0.8571428571s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu__delay:nth-child(13) {
  -webkit-animation-delay: 0.9285714286s;
          animation-delay: 0.9285714286s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menuItem {
  background-color: white;
  padding: 1em;
  flex-direction: row;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  border-radius: 0.75em;
  box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: itemAppear 0.6s;
          animation: itemAppear 0.6s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  transform: scale(0);
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5em;
}
.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1em -5em -1em 1em;
  width: 4em;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1em;
}
.menuItem__wrapIcon {
  height: 1.6em;
  width: 1.6em;
  background-color: white;
  flex-direction: row;
  align-content: normal;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99e2d0;
}

.box {
  background-color: white;
  border-radius: 1em;
  position: relative;
}
.box__img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
}
.box__new {
  background-color: #99e2d0;
  color: black;
  position: absolute;
  top: 1em;
  right: 1em;
  color: #1d9e7e;
  border-radius: 0.2em;
  padding: 0.5em;
}
.box__new a {
  color: black;
}
.box__cardFooter {
  flex-direction: row;
  align-content: space-between;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  margin: 0 1em;
  padding: 1em 0;
  position: relative;
}
.box__cardFooter--right {
  position: absolute;
  top: 0.5em;
  right: 2em;
}

.operation__steps {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-content: stretch;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  width: 95%;
  height: auto;
  list-style: none;
  counter-reset: compteListe;
}
.operation__steps--step {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  color: black;
  position: relative;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
  margin: 1em 0;
  padding: 1.5em 1em;
}
.operation__steps--step a {
  color: black;
}
.operation__steps--step::before {
  width: 1.5em;
  height: 1.5em;
  background-color: #6100d8;
  color: white;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  display: flex;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  position: absolute;
  top: 1em;
  left: -1em;
  border-radius: 100px;
  padding: 0.2em;
}
.operation__steps--step::before a {
  color: white;
}
.operation__steps--step span {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
  font-family: Roboto;
}

@media screen and (min-width: 1024px) {
  .operation__title {
    margin: 0.5em;
  }
  .operation__steps {
    flex-direction: row;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    flex-wrap: nowrap;
    display: flex;
    width: 100%;
    height: auto;
  }
  .operation__steps--step {
    margin: 0 1.5em;
  }

  .restaurant__title {
    margin: 0.5em;
  }
  .restaurant__menus {
    flex-direction: row;
    align-content: normal;
    justify-content: space-between;
    align-items: normal;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: auto;
  }
  .restaurant__menus--menu {
    width: 45%;
    height: auto;
    padding: 1em;
    margin: 0;
  }
  .restaurant .box__img {
    width: 100%;
    height: 16em;
  }

  .menu {
    width: 100%;
    height: auto;
  }

  .mainMenu__img {
    width: 100%;
    height: 30vw;
  }
}/*# sourceMappingURL=app.css.map */