@font-face {
    font-family: Shrikhand;
    src: url("assets/fonts/Shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}