//Balise générique utilisé sur les différentes pages
html {
  @include font(normal, normal, 1em,  1, Roboto);
  cursor: default;
}

body {
  @include wh(100%);
  @include flexbox(column);
  @include margin-padding(all, 0, all, 0);
  background-color: $mainColor;
}

main {
  @include margin-padding(all, 0, all, 0);
  @include flexbox(column);
}

ul {
  list-style-type: none;
  @include margin-padding(all, 0, all, 0);
}

p {
  @include margin-padding(all, .5em 0, all, 0);
}

a {
  text-decoration: none;
  color: black;
}
