//Balise générique utilisé sur les différentes pages
html {
  font-family: Roboto;
}

body {
  @include wh(100%);
  @include flexbox(column);
  @include margin($null);
}

main {
  @include margin($null);
  @include flexbox(column);
}

ul {
  list-style-type: none;
  @include margin($null);
  @include padding($null);
}

p {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
}
