main {
  @extend %marginNull;
  @extend %displayFlex;
  @include flexbox(column);
}

.location {
  @include backgroundAuto($colorLocation);
  @include wh(100%);
  @extend %marginNull;
  @include paddingYX(1em, 0);
  @extend %displayFlex;
  @include flexbox(row, center, center, center);

  &__icon {
    @include marginYX(0, 1em);
  }
}

.explore {
  @include wh(100%);
  @extend %displayFlex;
  @include flexbox(column, center);
  text-align: center;
  @include backgroundAuto($colorExplore);
  @include paddingYX(1em, 0);

  &__title {
    @include font(normal, bold, 1.6em);
  }

  &__subtitle {
    @include font(normal, 300, 1.4em);
  }

  &__button {
    border-radius: 10em;
    color: $white;
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
    @include marginYX(0, 1em);
    @include paddingYX(1em, 1em);
    border: none;
    box-shadow: .25em .25em .25em rgba(0, 0, 0, .25);
    @include font(normal, bold);
  }
}

ul {
  list-style-type: none;
  @extend %marginNull;
  @extend %paddingNull;
}

p {
  @include marginYX(0.5em, 0);
}

a {
  text-decoration: none;
}

.iconStep {
  margin-right: 1em;
}

.operation {
  @extend %displayFlex;
  @include flexbox(column, center, center, flex-start);
  &__steps {
    @extend %displayFlex;
    @include flexbox(column, center);
    @include wh(90%);
    list-style: none;
    counter-reset: compteListe;
    @extend %marginNull;
    @extend %paddingNull;
    &--step {
      position: relative;
      border-radius: 0.5em;
      box-shadow: .2em .2em .5em rgba(0, 0, 0, .3);
      @include backgroundAuto($colorOperation);
      @include marginYX(1em, 0);
      @include paddingYX(1.5em, 1em);
      @include wh(90%);
      &::before {
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        position: absolute;
        left: -1em;
        border-radius: 100px;
        @include wh(1.5em, 1.5em);
        @include backgroundAuto(#6100d8);
        @include paddingYX(0.2em, 0.2em);
        @extend %displayFlex;
        @include flexbox(row, center, center);
      }
      span {
        @include font(normal, bold);
      }
    }
  }
  .iconStep {
    @include paddingYX(0, 0.5em);
    @extend %marginNull;
  }
}

.restaurant {
  @extend %displayFlex;
  @include flexbox(column);
  @include paddingYX(2em, 1em);
  @include backgroundAuto($colorRestaurant);

  &__menus {
    @extend %paddingNull;
    &--menu {
      @include marginYX(1em, 0);
    }
  }
  .box {
    background-color: $white;
    border-radius: 1em;
    position: relative;

    &__img {
      @include border-radius-top(1em);
      object-fit: cover;
      @include wh(100%, 10em);
    }

    &__new {
      position: absolute;
      top: 1em;
      right: 1em;
      @include backgroundAuto(#99e2d0);
      color: #1d9e7e;
      border-radius: 0.2em;
      @include paddingYX(0.5em, 0.5em);
    }

    &__cardFooter {
      @include flexbox(row, space-between);
      @include marginYX(0, 1em);
      @include paddingYX(1em, 0);
      position: relative;

      &--right {
        position: absolute;
        top: 0.5em;
        right: 2em;
      }
    }
  }
}
