.mainMenu {
  background-color: white;

  &__img {
    @include widthHeight(100vw,25vh);
    object-fit: cover;
    max-height: 32em;
  }

  &__section {
    max-width: 768px;
    @include marginPadding($specificDirections, 0 auto -3em auto, $allDirections, 1.5em);
    @include positionElement(-3em,0em,0em,0em,relative);
    @include backgroundAuto($mainColor);
    @include borderRadiusTop(2em);
    @include flexbox(column, normal, space-evenly);
    @include widthHeight(85vw);
  }

  &__header {
    @include flexbox(row,normal,space-between);
    @include widthHeight(95%);

    &--heading {
      @extend %all-headings;
      @include font(normal, normal, 1.4em, 1, Shrikhand);
    }

    &--heart {
      @include marginPadding($allDirections, 1em, $allDirections, 0);
    }
  }
}
