.footer {
  @include backgroundAuto(rgb(20, 20, 20));
  padding: 1em 3em;

  &__ul {
    &--headTitle {
      font-family: Shrikhand;
      @include font(normal, normal, 1.2em);
      margin-bottom: 1em;
    }

    &--li {
      @include font(normal, normal);
      margin: 0.5em 0;
    }

    .footerLink {
      text-decoration: none;

      &__icon {
        margin-right: 1em;
        @include wh(1em);
      }
    }
  }
}
