@media screen and (min-width: 1024px) {
    .operation {
        &__title {
            margin: 1em;
        }
        &__steps {
        @include flexbox(row,normal,normal,normal,nowrap);
            &--step {
                margin: 0 2em;
            }
        }
    }

    .restaurant {
        &__title {
            margin: 1em;
        }
        &__menus {
            display: flex;
            @include flexbox(row,normal,center);
            @include wh(100%);
            &--menu {
                @include wh(45%);
                padding: 1em;
                margin:0;
            }
        }
        .box {
            &__img {
                @include wh(100%,16em);
            }
        }
    }
}
