html {
  font-family: Roboto;
}

body {
  width: $hundreadPercent;
  @include flexbox(flex, column, normal, normal, normal, wrap);
  @include marginYX(0, 0);
}

.headerIndex {
  font-family: Shrikhand;
  width: $hundreadPercent;
  @include flexbox(flex, column, normal, normal, center, wrap);
  text-align: center;
}

.footer {
  @include backgroundAuto(rgb(20, 20, 20));
  @include paddingYX(.5em,.5em);
  &__ul {
    &--headTitle {
      font-family: Shrikhand;
      font-size: 1.2em;
      margin-bottom: 1em;
    }
    &--li {
      font-size: 1em;
      @include marginYX(0.5em, 0);
    }
    .footerLink {
      text-decoration: none;
      &__icon {
        margin-right: 1em;
        width: 1em;
      }
    }
  }
}
