html {
  font-family: Roboto;
}

body {
  @include wh(100%);
  @extend %displayFlex;
  @include flexbox(column);
  @extend %marginNull;
}

.headerIndex {
  @include wh(100%);
  @include flexbox(column, center);
  @extend %displayFlex;

  font-family: Shrikhand;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, .25);

  &__title {
    @extend %all-headings;
  }

}

.footer {
  @include backgroundAuto(rgb(20, 20, 20));
  padding: 1em 3em;

  &__ul {
    &--headTitle {
      font-family: Shrikhand;
      @include font(normal,normal,1.2em);
      margin-bottom: 1em;
    }

    &--li {
      @include font(normal,normal);
      margin: .5em 0;
    }

    .footerLink {
      text-decoration: none;

      &__icon {
        margin-right: 1em;
        @include wh(1em);
      }
      
    }
  }
}
