@charset "UTF-8";
@font-face {
  font-family: Shrikhand;
  src: url("../assets/fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}
/*Ajuste la couleur du texte par rapport à la luminosité du background*/
.restaurant, .operation__steps--step::before, .operation__steps, .operation, .explore, .location, main, .headerIndex, body {
  display: flex;
}

.operation .iconStep, .operation__steps, ul, .location, main, body {
  margin: 0;
}

.restaurant__menus, .operation__steps, ul {
  padding: 0;
}

.headerIndex__title h1 {
  font-size: 1.8em;
  margin: 0.5em 0;
}
.headerIndex__title h2 {
  font-size: 1.6em;
  margin: 0.5em 0;
}
.headerIndex__title h3 {
  font-size: 1.4em;
  margin: 0.5em 0;
}
.headerIndex__title h4 {
  font-size: 1.2em;
  margin: 0.5em 0;
}
.headerIndex__title h5 {
  font-size: 1em;
  margin: 0.5em 0;
}
.headerIndex__title h6 {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.likeEmpty {
  content: "";
  position: absolute;
}

.likeEmpty:hover {
  display: none;
}

.likeFill {
  position: absolute;
  content: "";
  opacity: 0;
  transform: scale(1);
}

.likeFill:hover {
  opacity: 1;
  background: linear-gradient(175deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  -webkit-animation: loader 2.5s;
          animation: loader 2.5s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.loader_item {
  -webkit-animation: item 2.5s;
          animation: item 2.5s;
  background-color: #000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: 0.5em;
}
.loader_item_1 {
  background-color: #9356DC;
}
.loader_item_2 {
  background-color: #FF79DA;
}
.loader_item_3 {
  background-color: #99E2D0;
}
.loader_item_0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.loader_item_1 {
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.loader_item_2 {
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes item {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, 20px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes item {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, 20px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
html {
  font-family: Roboto;
}

body {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
}

.headerIndex {
  font-family: Shrikhand;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-content: center;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.25);
}
.footer {
  background-color: #141414;
  color: white;
  padding: 0.5em 0.5em;
}
.footer a {
  color: white;
}
.footer__ul--headTitle {
  font-family: Shrikhand;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: 1em;
}
.footer__ul--li {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1;
  margin: 0.5em 0;
}
.footer__ul .footerLink {
  text-decoration: none;
}
.footer__ul .footerLink__icon {
  margin-right: 1em;
  width: 1em;
  height: auto;
}

main {
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
}

.location {
  background-color: #f3f3f3;
  color: black;
  width: 100%;
  height: auto;
  padding: 1em 0;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.location a {
  color: black;
}
.location__icon {
  margin: 0 1em;
}

.explore {
  width: 100%;
  height: auto;
  flex-direction: column;
  align-content: center;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  text-align: center;
  background-color: #fafafa;
  color: black;
  padding: 1em 0;
}
.explore a {
  color: black;
}
.explore__title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1;
}
.explore__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1;
}
.explore__button {
  border-radius: 10em;
  color: white;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  margin: 0 1em;
  padding: 1em 1em;
  border: none;
  box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
}

ul {
  list-style-type: none;
}

p {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
}

.iconStep {
  margin-right: 1em;
}

.operation {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.operation__steps {
  flex-direction: column;
  align-content: center;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  list-style: none;
  counter-reset: compteListe;
}
.operation__steps--step {
  position: relative;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.3);
  background-color: #f6f6f6;
  color: black;
  margin: 1em 0;
  padding: 1.5em 1em;
  width: 90%;
  height: auto;
}
.operation__steps--step a {
  color: black;
}
.operation__steps--step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  position: absolute;
  left: -1em;
  border-radius: 100px;
  width: 1.5em;
  height: 1.5em;
  background-color: #6100d8;
  color: white;
  padding: 0.2em 0.2em;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
}
.operation__steps--step::before a {
  color: white;
}
.operation__steps--step span {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
}
.operation .iconStep {
  padding: 0 0.5em;
}

.restaurant {
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  padding: 2em 1em;
  background-color: #f6f6f6;
  color: black;
}
.restaurant a {
  color: black;
}
.restaurant__menus--menu {
  margin: 1em 0;
}
.restaurant .box {
  background-color: white;
  border-radius: 1em;
  position: relative;
}
.restaurant .box__img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 10em;
}
.restaurant .box__new {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #99e2d0;
  color: black;
  color: #1d9e7e;
  border-radius: 0.2em;
  padding: 0.5em 0.5em;
}
.restaurant .box__new a {
  color: black;
}
.restaurant .box__cardFooter {
  flex-direction: row;
  align-content: space-between;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  margin: 0 1em;
  padding: 1em 0;
  position: relative;
}
.restaurant .box__cardFooter--right {
  position: absolute;
  top: 0.5em;
  right: 2em;
}/*# sourceMappingURL=app.css.map */