@font-face {
  font-family: Shrikhand;
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}
h1 {
  font-size: 1.8em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.6em;
  margin: 0.5em 0;
}

h3 {
  font-size: 1.4em;
  margin: 0.5em 0;
}

h4 {
  font-size: 1.2em;
  margin: 0.5em 0;
}

h5 {
  font-size: 1em;
  margin: 0.5em 0;
}

h6 {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.like {
  margin-top: 2em;
  position: relative;
  top: -64px;
  right: 4px;
}
.like_empty {
  position: absolute;
  right: 20px;
  top: 100px;
}
.like_fill::before {
  content: "";
  opacity: 0;
}
.like_fill:hover::before {
  opacity: 1;
  background: linear-gradient(175deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  -webkit-animation: loader 2.5s;
          animation: loader 2.5s;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.loader_item {
  -webkit-animation: item 2.5s;
          animation: item 2.5s;
  background-color: #000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin: 0.5em;
}
.loader_item_1 {
  background-color: #9356DC;
}
.loader_item_2 {
  background-color: #FF79DA;
}
.loader_item_3 {
  background-color: #99E2D0;
}
.loader_item_0 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.loader_item_1 {
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.loader_item_2 {
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes item {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, 20px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes item {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, 20px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
html {
  font-family: Roboto;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  margin: 0 0;
}

.footer__ul--headTitle {
  font-family: Shrikhand;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.footer__ul--li {
  font-size: 1em;
  margin: 0.5em 0;
}
.footer__ul .footerLink {
  text-decoration: none;
  color: white;
}
.footer__ul .footerLink__icon {
  margin-right: 1em;
  width: 1em;
}

.header {
  font-family: Shrikhand;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #2b2b2b;
  color: white;
  padding: 1em 1em;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
}

.location {
  background-color: #dfdfdf;
  width: 100%;
  margin: 0 0;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.location__icon {
  margin: 0 1em;
}

.explore {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: #f5f5f5;
  padding: 1em 0;
}
.explore__buttonHeader {
  border-radius: 10px;
  font-size: 1em;
  color: white;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  padding: 1em 1em;
  border: none;
  box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
}

p {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: white;
}

.iconStep {
  margin-right: 1em;
}

.operation {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: normal;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 1em;
  background-color: white;
}
.operation__steps {
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin: 0 0;
  padding: 0 0;
}
.operation__steps--step {
  font-style: italic;
  border-radius: 10em;
  background-color: #adadad;
  margin: 0.5em 0;
  padding: 1em 1em;
}
.operation .iconStep {
  padding: 0 0.5em;
  margin: 0 0;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  flex-wrap: wrap;
  padding: 0 1em;
  background-color: #f2f2f2;
}
.restaurant__menus {
  padding: 0 0;
}
.restaurant__menus--menu {
  margin: 1em 0;
}
.restaurant .box {
  background-color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  position: relative;
}
.restaurant .box__img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 10em;
}
.restaurant .box__new {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #99e2d0;
  color: #1d9e7e;
  border-radius: 0 0.2em;
  padding: 0.5em 0.5em;
}
.restaurant .box__cardFooter {
  display: flex;
  flex-direction: row;
  align-content: normal;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap;
  margin: 0 1em;
}
.restaurant .box__cardFooter--right {
  position: relative;
  top: 0.5em;
  right: 2em;
}
.restaurant .box__cardFooter--right .likeEmpty {
  content: "";
  position: absolute;
}
.restaurant .box__cardFooter--right .likeEmpty:hover {
  display: none;
}
.restaurant .box__cardFooter--right .likeFill {
  position: absolute;
  content: "";
  opacity: 0;
  transform: scale(1);
}
.restaurant .box__cardFooter--right .likeFill:hover {
  opacity: 1;
  background: linear-gradient(175deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}/*# sourceMappingURL=app.css.map */