
@import "sass/base/fonts.scss";
@import "sass/utils/variables.scss";
@import "sass/utils/animation.scss";
@import "sass/utils/functions.scss";
@import "sass/utils/mixins.scss";

html {
    font-family: Roboto;
}

body {
    width: $hundreadPercent;
    @include flexbox(flex, column, normal, normal, normal, wrap);
    @include marginYX(0, 0);
}

main {
    margin: $null;
    @include flexbox(flex, column, normal, normal, normal, wrap);
}

header {
    @include box-shadow(0em, 0em, 0.5em, rgba(0,0,0,1));  
    position: relative;
}

header,
.explore {
    width: $hundreadPercent;
    @include flexbox(flex, column, normal, normal, center, wrap);
    text-align: center;
}

footer {
    @include flexbox(flex, column, normal, normal, flex-start, wrap);
    background-color: $footerBg;
    color: $white;
    @include paddingYX(1em, 1em);
}

ul {
    list-style-type: none;
    @include marginYX(0, 0);
    @include paddingYX(0, 0);
}

p {
    @include marginYX(.5em, 0);
}

a {
    text-decoration: none;
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include marginYX(.5em, 0);
    @include paddingYX(0, 0);
}

$start: 1.8em; 
@each $h in h1, h2, h3, h4, h5, h6{
    #{$h} { 
      font-size: $start;
      }

      $start: $start - 0.2;
  }

.steps {
    text-align: center;
}

.step {
    border-radius: 10em;
    background-color: $stepBg;
    @include marginYX(1em, 0);
    @include paddingYX(1em, 1em);
}

.iconStep {
    margin-right: 1em;
}

.mainTitle {
    font-family: Shrikhand;
    font-size: 2em;
}

.location {
    background-color: #dfdfdf;
    width: $hundreadPercent;
    @include marginYX(0, 0);
    @include paddingYX(1em, 0);
    @include flexbox(flex, row, center, center, center, wrap);
}

.iconLocation {
    @include marginYX(0, 1em);
}

.explore {
    background-color: #f2f2f2;
    @include paddingYX(2em, 0);
}

.mainParagraphe,
.mainSubParagraphe {
    @include paddingYX(0, 1em);
}

.mainParagraphe {
    font-size: 1.8em;
    font-weight: bold;
}

.mainSubParagraphe {
    font-size: 1.2em;
}

.buttonHeader {
    border-radius: 10px;
    font-size: 1em;
    color: $white;
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    @include paddingYX(1em, 1em);
    border: none;
    font-weight: bold;
    box-shadow: 0.25em 0.25em 1em rgb(0 0 0 / 25%);
}

.operation,
.restaurant {
    @include flexbox(flex, column, normal, normal, normal, wrap);
    @include paddingYX(0, 1em);
}

.headTitleFooter {
    font-family: Shrikhand;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.liFooter {
    font-size: 1em;
    @include marginYX(.5em, 0);
}

.iconFooter {
    margin-right: 1em;
    width: 1em;
}

.menus {
    @include paddingYX(0, 0);
}

.menu {
    @include marginYX(1em, 0);
}

.box {
    background-color: $white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    position: relative;
}

img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    object-fit: cover;
    width: $hundreadPercent;
    height: 10em;
}

.new {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #99e2d0;
    color: #1d9e7e;
    border-radius: $null.2em;
    @include paddingYX(.5em, .5em);
}

.operation {
    background-color: $white;
}

.restaurant {
    background-color: #f2f2f2; 
}

.cardFooter {
    @include flexbox(flex, column, normal, space-between, normal, wrap);
    @include marginYX(0, 1em); 
}


